/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

@import 'tailwindcss';

:root {
  /* search (Information Seeking) */
  --color-search-primary: #1976d2;
  --color-search-accent: #64b5f6;

  /* movie (Entertainment Consumption) */
  --color-movie-primary: #e53935;
  --color-movie-accent: #ff7043;

  /* shopping_cart (Shopping and Product Research) */
  --color-shopping_cart-primary: #43a047;
  --color-shopping_cart-accent: #81c784;

  /* chat (Social Connection) */
  --color-chat-primary: #8e24aa;
  --color-chat-accent: #ba68c8;

  /* school (Learning and Skill Development) */
  --color-school-primary: #fbc02d;
  --color-school-accent: #fff176;

  /* work (Productivity and Work-Related Tasks) */
  --color-work-primary: #546e7a;
  --color-work-accent: #90a4ae;

  /* palette (Personal Expression and Creation) */
  --color-palette-primary: #fb8c00;
  --color-palette-accent: #ffb74d;
}

/*.shine-text {
  color: #fff;
  background: linear-gradient(110deg, #ffffff 20%, #d1d5db 40%, #ffffff 60%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}*/

.shine-text {
  color: #fff;
  background: linear-gradient(
    110deg,
    rgba(177, 160, 149, 1) 20%,
    /* deep taupe base */ rgba(192, 174, 163, 1) 40%,
    /* mid beige shimmer */ rgba(223, 207, 196, 1) 60%
      /* soft cream highlight */
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}

.no-shine-text {
  color: #fff;
  background: linear-gradient(
    110deg,
    rgba(177, 160, 149, 1) 20%,
    /* deep taupe base */ rgba(192, 174, 163, 1) 40%,
    /* mid beige shimmer */ rgba(223, 207, 196, 1) 60%
      /* soft cream highlight */
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* https://grabient.com/HQVgzAHANKDsCcMQAYCMUC0rhldHs6GywATMvqvLDKajTgGxhSnCMQvKvDLwAsMXCCFoo2fqRFZQ8CEA?style=linearGradient&steps=7&angle=225 */

body {
  /* https://grabient.com/HQdhDYBpQZhbwE4bQIwFYXA1b5XQAsADAExGrnAyJSrCImT20osgxA?style=linearGradient&steps=7&angle=180 */

  background: linear-gradient(
    180deg,
    rgba(234, 227, 217, 1) 0%,
    rgba(237, 227, 217, 1) 16.667%,
    rgba(233, 220, 209, 1) 33.333%,
    rgba(223, 207, 196, 1) 50%,
    rgba(208, 191, 180, 1) 66.667%,
    rgba(192, 174, 163, 1) 83.333%,
    rgba(177, 160, 149, 1) 100%
  );
}
